<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - LawnWizardApp</title>
</head>
<body>
    <header>
        <h1>LawnWizard</h1>
        @if (ViewBag.Employee.AdminStatus == 1)
        {
            <h2>Payroll</h2>
        }
    </header>
    
@RenderBody()
</body>
</html>
