@{Layout = null;}
<link rel="stylesheet" href="~/css/style.css">
<link rel="stylesheet" href="~/css/login.css">
@model LoginEmployee

<div class="loginMainDiv">
    <div class="loginInnerMainDiv">
        <h1>Login</h1>
        <form class="loginForm" method="post" asp-controller="Employee" asp-action="LoginEmployee">
            <div class="loginInputDiv">
                <label asp-for="LoginEmail">Email:</label>
                <span asp-validation-for="LoginEmail"></span>
                <input type="email" asp-for="LoginEmail">
            </div>
            <div class="loginInputDiv">
                <label asp-for="LoginPassword">Password:</label>
                <span asp-validation-for="LoginPassword"></span>
                <input type="password" asp-for="LoginPassword">
            </div>
            <button>
                <span>Login</span>
            </button>
        </form>
        <p>No Account? Register <a href="/register">here</a>.</p>
    </div>
</div>

<script src="/_framework/aspnetcore-browser-refresh.js"></script>