@{Layout = null;}
<link rel="stylesheet" href="~/css/style.css">
@model Employee

<div>
    <h1>Register</h1>
    <form method="post" asp-controller="Employee" asp-action="RegisterEmployee">
        <div>
            <label asp-for="FirstName">First Name:</label>
            <span asp-validation-for="FirstName"></span>
            <input type="text" asp-for="FirstName">
        </div>
        <div>
            <label asp-for="LastName">Last Name:</label>
            <span asp-validation-for="LastName"></span>
            <input type="text" asp-for="LastName">
        </div>
        <div>
            <label asp-for="Email">Email:</label>
            <span asp-validation-for="Email"></span>
            <input type="email" asp-for="Email">
        </div>
         <div>
            <label asp-for="Password">Password:</label>
            <span asp-validation-for="Password"></span>
            <input type="password" asp-for="Password">
        </div>
        <div>
            <label asp-for="Confirm">Confirm Password:</label>
            <span asp-validation-for="Confirm"></span>
            <input type="password" asp-for="Confirm">
        </div>
        <div>
            <button>
                <span>Register</span>
            </button>
        </div>
    </form>
    <a href="/">Return to Login</a>
</div>